@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
     /* font-family: Comic Sans MS; */
     line-height: 30px;
   }

h1{
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    padding: 50px;
}

.input-group-text{
  width: 300px;
}

.container{
  width: 100%
}

.table{
    border-width:3px;
    background-color: #f1f3f4;
    padding:30px;
    width: 400px;
    height: auto;
    text-align: center;
    margin:0px auto;
    float:left;
}

.btn {
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  padding 12px 25px;
  display: block;
  background: linear-gradient(to right, #a6b1e1 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-position: left bottom;
}

input[type=number] {
 padding: 5px 12px;
 margin: 10px 5px;
 box-sizing: border-box;
}
input[type=number]:focus {
    border: 3px solid #4CAF50;
  }


table
{
width:100%;
}


table {
 width:100%;
    margin:15px 0;
    margin-top: 100px;
}
th {
 background-color:#96A5FF;
 color:#FFFFFF
}
table,table th,.table td
{
 font-size:0.95em;
 text-align:center;
 padding:4px;
 border:1px solid #7387fe;
 border-collapse:collapse
}
table tr:nth-child(odd){
 background-color:#4CAF50;
}
.table tr:nth-child(even){
 background-color:#fdfdfd;
}
.love_you{
    margin: 0 auto;
    width: 966px;
    height: auto;
    margin-bottom: 400px;
}
.simulate_area{
  margin: 0 auto;
  width: 1000px;
}
#inqueue{
  background-color:#f4eeff;
  width: 300px;
  height: 300px;
  float: left;
}
#inservice{
  background-color:#dcd6f7;
  width: 300px;
  height: 300px;
  /* margin-left: 50px; */
  float: left;
}
#out{
  background-color:#a6b1e1;
  width: 300px;
  height: 300px;
  /* margin-left: 50px; */
  float: left;
}
