@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
     /* font-family: Comic Sans MS; */
     line-height: 30px;
   }

h1{
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    padding: 50px;
}

.shop{
  height: 350px;
  background-color: #dcd6f7;
}

.shop_name{
  width: 500px;
  height: 100px;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  /* margin: 0 auto; */
  border: 10px solid #a6b1e1;
  box-shadow: 10px 10px #888888;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item_name img{
  width: 100px;
}

.item_title{
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  height: 80px;
  padding: 20px;
}

.item_content{
  height: 300px;
  text-align: center;
}

.input-group-text{
  width: 200px;
}

.container{
  width: 100%
}

.table{
    border-width:3px;
    background-color: #f1f3f4;
    padding:30px;
    height: auto;
    text-align: center;
    margin:0px auto;
    float:left;
}

.btn {
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  padding 12px 25px;
  display: block;
  background: linear-gradient(to right, #a6b1e1 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-position: left bottom;
}

.btn:focus {
  border: none;
}

input[type=number] {
 padding: 5px 12px;
 margin: 10px 5px;
 box-sizing: border-box;
}
input[type=number]:focus {
    border: 3px solid #4CAF50;
  }


table {
 width:100%;
    margin:15px 0;
    margin-top: 100px;
}
th {
 background-color:#96A5FF;
 color:#FFFFFF
}
table,table th,table td
{
 font-size: 0.95em;
 text-align: center;
 padding: 4px;
 border-collapse: collapse;
 height: 50px;
}
table tr{
  broder: 1px solid #f4eeff;
}
/* table tr:nth-child(odd){
 background-color:#f4eeff;
}
table tr:nth-child(even){
 background-color:#fdfdfd;
} */
.love_you{
    margin: 0 auto;
    width: 966px;
    height: auto;
    margin-bottom: 400px;
}
.simulate_area{
  margin: 0 auto;
  /* width: 1000px; */
}
#inqueue{
  /* background-color:#f4eeff; */
  width: 300px;
  height: 300px;
  float: left;
}
#inservice{
  background-color:#dcd6f7;
  width: 300px;
  height: 300px;
  /* margin-left: 50px; */
  float: left;
}
#out{
  background-color:#a6b1e1;
  width: 300px;
  height: 300px;
  /* margin-left: 50px; */
  float: left;
}

.clock {
  width: 10rem;
  height: 10rem;
  border: 2px solid #545271;
  border-radius: 50%;
  margin: 0px auto;
  /* position: relative; */
  -webkit-box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  -moz-box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  /* box-shadow: 0 20px 30px rgba(104,75,106,0.65); */
  background: #545271;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  -webkit-box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  -moz-box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #b8b8c5;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fefefc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 3px;
  background: #a6b1e1;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 20%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 35%;
}

.hand.second-hand {
  background: #efb1ff;
  width: 40%;
}
